		h1{
			color: blue;
			background-color: burlywood;
			font-family: cursive;
			text-align: left;
		}
		h2{
			color: blue;
			background-color: burlywood;
			font-family: cursive;
			text-align: center;
		}
		{
			color: orangered;
			font-family:sans-serif ;
			background-color: lightgreen;"

		}